<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="databaseserver.Properties.Settings.songdatabaseConnectionString"
            connectionString="data source=I:\COMP134Project\mmoments\databaseserver\songdatabase.mmd"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>